@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Customer Support - OmniScanMRI";
}

<link rel="stylesheet" href="~/Content/css/style.css">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/images/CustomerSupport.jpg" alt="Customer Support" class="img-responsive" style="max-width: 100%; height: auto; border-radius: 5px;" />
        </div>
        <div class="col-md-6" style="padding-left: 30px;">
            <h2>Patient Support</h2>
            <a href="#">https://help.omniscanmri.com</a>

            <h2>Practice Support</h2>
            <a href="#">support@localhost.omniscanmri.com</a>
            <p>Head over to our <a href="#">support page</a></p>
            <p>
                <strong>Support Hours:</strong><br />
                Monday to Thursday: 8:45am – 5:30pm AEST<br />
                Friday: 9am-5pm AEST<br />
                *Operation hours subject to change on Victorian Public Holidays
            </p>

            <h2>Sales and Marketing</h2>
            <a href="#">sales@localhost.omniscanmri.com</a>
            <p>Phone: 2100 468 300</p>

            <h2>Careers</h2>
            <a href="#">careers@localhost.omniscanmri.com</a>
            <p>Find out about current job listings</p>

            <h2>Media and Press</h2>
            <a href="#">media@localhost.omniscanmri.com</a>

            <h2>Address</h2>
            <p>
                Level 17, 403 Flinders Street<br />
                Melbourne, Victoria 3000
            </p>
        </div>
    </div>
</div>
