@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
    <meta name="author" content="themefisher.com">

    <title>OmniScanMRI- MRI Scans for HealthCare</title>
    
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">

</head>

<body id="top">

    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xl-7">
                    <div class="block">
                        <div class="divider mb-3"></div>
                        <span class="text-uppercase text-sm letter-spacing ">OMniScanMRI Medical Imaging solution</span>
                        <h1 class="mb-3 mt-3">Your most trusted MRI Scan partner</h1>

                        <p class="mb-4 pr-5"></p>
                        @*<div class="btn-container">
                            <a href="@Url.Action("BookAppointment", "Appointment")" class="btn btn-main-2 btn-icon btn-round-full">Book appointment</a>
                        </div>*@

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="feature-block d-lg-flex">
                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4">
                                <i class="icofont-surgeon-alt"></i>
                            </div>
                            <span>24 Hours Service</span>
                            <h4 class="mb-3">Online Appointments</h4>
                            <p class="mb-4">Get All time support for world class MRI imaging services.</p>
                            <a href="@Url.Action("BookAppointment", "Appointment")" class="btn btn-main btn-round-full">Book Appointment</a>
                        </div>

                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4">
                                <i class="icofont-ui-clock"></i>
                            </div>
                            <span>Timing schedule</span>
                            <h4 class="mb-3">Working Hours</h4>
                            <ul class="w-hours list-unstyled">
                                <li class="d-flex justify-content-between">Mon - Fri : <span>8:00 - 17:00</span></li>
                                <li class="d-flex justify-content-between">Sat - Sun : <span>9:00 - 15:00</span></li>
                            </ul>
                        </div>

                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4">
                                <i class="icofont-support"></i>
                            </div>
                            <span>Emergency Cases</span>
                            <h4 class="mb-3">000</h4>
                            <p>Call 000 if you have an Emergency.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
