@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Upload Success Confirmation";
}


<h2>Upload Success</h2>

<p>Your file has been successfully uploaded.</p>

<a href="@Url.Action("UploadScan", "ScanImage")">Upload another file</a>
